@model WebHoteleria.Models.RecuperarPasswordModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script type="text/javascript">



</script>

<div class="page-title">
    <div class="title_left">
        <h3>Recuperar Contraseña <small></small></h3>
    </div>
</div>


@using (Html.BeginForm("RecuperarPassword", "Login", FormMethod.Post, new { id = "frmRecuperarPassword" }))
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    @if (@ViewBag.msg != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            @Html.ValidationMessage("ErrorEnvio")
                            @Html.ValidationMessage("Aviso")
                            @Html.ValidationMessage("Error")
                        </div>
                    }

                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.Label("* Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Usuario, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Usuario)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("* E-mail", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
                        <input type="submit" value="Enviar" id="btnGuardar" class="btn btn-success" />
                    </div>
                </div>
            </div>

        </div>
    </div>
}



