@model WebHoteleria.Models.ProductoModel

<script type="text/javascript">

    $(document).ready(function () {

    });

</script>

<div class="page-title">
    <div class="title_left">
        <h3>Editar producto <small></small></h3>
    </div>
</div>

@using (Html.BeginForm("Edit", "Productos", FormMethod.Post, new { id = "frmEditarProducto" }))
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    @if (@ViewBag.msg != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            @Html.ValidationMessage("Duplicado")
                            @Html.ValidationMessage("Error")
                        </div>
                    }

                    @Html.HiddenFor(model => model.Id)

                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.Label("* Nombre Producto", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.NombreProducto, null, new { @class = "form-control has-feedback-left" })
                                <span class="fa fa-sort-alpha-desc form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessageFor(m => m.NombreProducto)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("* Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.IdCategoria, null, "--Seleccionar--", new { @class = "form-control has-feedback-left" })
                                <span class="fa fa-unsorted form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessageFor(m => m.IdCategoria)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("* Unidad", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.IdUnidad, null, "--Seleccionar--", new { @class = "form-control has-feedback-left" })
                                <span class="fa fa-unsorted form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessageFor(m => m.IdUnidad)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Marca", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.IdMarca, null, "--Seleccionar--", new { @class = "form-control has-feedback-left" })
                                <span class="fa fa-unsorted form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessageFor(m => m.IdMarca)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("* Precio Venta", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.StrPrecioVenta, null, new { @class = "form-control has-feedback-left integer" })
                                <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessageFor(m => m.StrPrecioVenta)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("* Tipo Iva", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.IdTipoIva, null, "--Seleccionar--", new { @class = "form-control has-feedback-left" })
                                <span class="fa fa-unsorted form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessageFor(m => m.IdTipoIva)
                            </div>
                        </div>

                    </div>

                    <script>
                        $(".calendario").datepicker({ dateFormat: 'dd/mm/yy' });
                        $('.integer').setMask("integer");
                    </script>

                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
                        <input type="submit" value="Guardar" id="btnGuardar" class="btn btn-success" />
                    </div>
                </div>
            </div>

        </div>
    </div>
}